@import url('./fonts.css');

:root {
	--border-radius-s: 4px;
	--border-radius-m: 8px;
	--color-background: #f0edea;
	--color-border: #d7d2c9;
	--color-card: #e5e2dc;
	--color-card-metal: #e1e0dd;
	--color-grey: #2c2928;
	--color-orange: #d94000;
	--color-orange-faint: #d9400020;
	--color-text: #5e5953;
	--color-text-dim: #6f6963;
	--content-width: 60rem;
	--font-size-xs: 0.5rem;
	--font-size-s: 0.75rem;
	--font-size-m: 1rem;
	--font-size-l: 1.5rem;
	--gap-xs: 4px;
	--gap-s: 8px;
	--gap-m: 16px;
	--gap-l: 24px;
	--transition-s: 0.1s;
	--transition-xl: 1.5s;
	--z-index-top: 100;
	--z-index-mid: 50;
}

*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: var(--color-background) url('~/assets/images/noise.png') repeat center top;
}

#__nuxt {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
}

main {
	flex: 1;
	height: 100%;
	margin-bottom: calc(var(--gap-l) * -1);
	padding-bottom: var(--gap-l);
}
